Repository MrSeaWave/holidays-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint ., prettier --write, stylelint --fix

feat: set base path
  index.html
  src/assets/logo.svg
  src/pages/404/page.tsx
  src/pages/home-page/page.tsx
  src/routes/index.ts
  vite.config.ts
Due: none

feat: init holidays web
  README.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/pages/404/page.tsx
  src/pages/home-page/page.tsx
  src/pages/vacation-planner/components/code-review.md
  src/pages/vacation-planner/components/plan-status-icon/plan-status-icon.tsx
  src/pages/vacation-planner/components/prd.md
  src/pages/vacation-planner/components/year-calendar/YearCalendar.md
  src/pages/vacation-planner/components/year-calendar/style.scss
  src/pages/vacation-planner/components/year-calendar/year-calendar.tsx
  src/pages/vacation-planner/page.tsx
  src/pages/vacation-planner/style.scss
  src/pages/vacation-planner/utils/calculate-demo.ts
  src/pages/vacation-planner/utils/calculate.ts
  src/pages/vacation-planner/utils/holidays.ts
  src/routes/routes.ts
Due: npmPkgJsonLint ., prettier --write, stylelint --fix

style: modify exclude date color
  package.json
  pnpm-lock.yaml
  src/pages/vacation-planner/components/prd.md
  src/pages/vacation-planner/components/year-calendar/style.scss
  src/pages/vacation-planner/page.tsx
  src/pages/vacation-planner/prd.md
  src/pages/vacation-planner/style.scss
Due: npmPkgJsonLint ., prettier --write, stylelint --fix

feat: update
  .github/workflows/publish-web.yaml
  src/pages/vacation-planner/page.tsx
  src/pages/vacation-planner/utils/calculate-demo.ts
  src/pages/vacation-planner/utils/calculate.ts
Due: none

chore: add vitest
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint .

chore: modify config
  .github/workflows/publish-web.yaml
  vite.config.ts
Due: none

chore: update
  .github/workflows/publish-web.yaml
Due: none

Deploying to gh-pages from @ MrSeaWave/holidays-web@a934f4b962464479ea0a88a1ac7cac65530afe78 🚀
  assets/index-Cf-VTmjQ.js
  assets/index-QcuatylP.css
  assets/logo-Cw-aJ5nI.svg
  assets/page-2-ktzIBt.js
  index.html
  vite.svg
Due: none

chore: add test file
  .gitignore
  package.json
  pnpm-lock.yaml
  src/pages/vacation-planner/utils/calculate.test.ts
  vite.config.ts
Due: npmPkgJsonLint .

chore: update
  vite.config.ts
Due: none

Deploying to gh-pages from @ MrSeaWave/holidays-web@a283d19f11a371c94ab210f0c5f34e54a6872852 🚀
  assets/index-COUyq5sQ.js
  assets/page-2-ktzIBt.js
  assets/page-qK8ewkpD.js
  index.html
Due: none

Deploying to gh-pages from @ MrSeaWave/holidays-web@156bd85c9f1d2d76bd1a301de14af5a657b92440 🚀
  assets/index-DZU78jJC.js
  assets/page-fJo0KRXk.js
  assets/page-qK8ewkpD.js
  index.html
Due: none

chore: add 404 html
  package.json
  vite.config.ts
Due: npmPkgJsonLint .

Deploying to gh-pages from @ MrSeaWave/holidays-web@1eece8cbf0042c5ebb08b59ea238edc2f870f59a 🚀
  404.html
Due: none

feat: add max maxContinuousVacationDays
  package.json
  pnpm-lock.yaml
  src/pages/vacation-planner/page.tsx
  src/pages/vacation-planner/utils/calculate.ts
  vite.config.ts
Due: npmPkgJsonLint .

feat: update components
  README.md
  src/pages/vacation-planner/page.tsx
Due: none

Deploying to gh-pages from @ MrSeaWave/holidays-web@ff3bfe8221e868d62e316c82822616eaef276b91 🚀
  404.html
  assets/index-Bur5J0Rs.js
  assets/index-DZU78jJC.js
  assets/page-DBnKk5ZO.js
  assets/page-fJo0KRXk.js
  index.html
Due: none

feat: update
  src/pages/vacation-planner/utils/calculate.test.ts
  src/pages/vacation-planner/utils/calculate.ts
Due: none

Deploying to gh-pages from @ MrSeaWave/holidays-web@8469e6d4f6429d96d91cd83a98fde593255befc6 🚀
  404.html
  assets/index-C59ZtMnJ.js
  assets/page-DBnKk5ZO.js
  assets/page-DnNT3JRc.js
  index.html
Due: none

Path conditions:
  npmPkgJsonLint .: any of: package.json
  prettier --write: any of: *.scss
  stylelint --fix: any of: *.scss
